<!---
    By: Jasmine David and Maksim Samoylenko
    1/12/2023
    url: http://jbdavid.greenriverdev.com/328/pets/
    Webpage that displays image of pet using MVC and fatfree.

---->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pets</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>Hello, World!</h1>
    <img src="images/pets.jpg" alt="picture of pets">

</body>
</html>